# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
ios/Pods/
**/GeneratedPluginRegistrant.*
*.lock

# IDE
.vscode/
.idea/
*.iml

# Ambiente local
.env
.env.*
lib/core/env.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Artefactos
*.ipa
*.apk
*.aab